<footer id="footer">
    <div id="footer-left">
    <h1>Get in Touch</h1>
    <p>Ecosyatem bootstrapping learning curve learn startup disruptive marketing long term.</p>
    <a href="https://github.com/">privicy</a>
    <a href="https://www.instagram.com/">policy</a>
    <a href="https://in.linkedin.com/">terms</a>
    </div>
    <div id="footer-right">
        <h3>contact</h3>
        <h5>+917060642019</h5>
        <h5>rahulsinghrana291@gmail.com</h5>
    </div>

</footer>