<% layout(("/layouts/boilerplate.ejs")) %>

    <body>
        <br>
        
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create a new Listing</h3>
                <br>
                <form novalidate class="needs-validation" method="post" action="/listings" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input required name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control">
                        <div class="invalid-feedback">please fill the title</div>
                        <div class="valid-feedback">looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea required name="listing[description]" placeholder="enter description"
                            class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-lable">Upload Image</label>
                        <input required name="listing[image]"  type="file"
                            class="form-control" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">Price</label>
                            <input required name="listing[price]" placeholder="enter price" type="number" class="form-control" />
                            <div class="invalid-feedback">please enter valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable">Country</label>
                            <input required name="listing[country]" placeholder="enter country" type="text"
                                class="form-control" />
                                <div class="invalid-feedback">country should be valid</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input required name="listing[location]" placeholder="enter location" type="text" class="form-control" />
                    </div>



                    <button class="btn btn-dark mb-3">Add</button>
                    
                </form>
            </div>
        </div>
    </body>